{{page-title 'EmberSentryPerformanceExample'}}

<h1>
  Welcome
</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a dolor ac
  lacus consequat feugiat eget quis nunc. Pellentesque placerat enim mi, sit
  amet suscipit ex ornare non. Maecenas sodales, ipsum eu porta efficitur, ante
  ex lobortis urna, ac aliquet enim lacus quis metus. Suspendisse lacinia rutrum
  nunc ac maximus. Vestibulum dui augue, elementum quis metus eu, viverra
  fringilla nunc. In mollis sagittis finibus. Suspendisse efficitur id augue eu
  faucibus. Orci varius natoque penatibus et magnis dis parturient montes,
  nascetur ridiculus mus. Suspendisse potenti. Morbi elementum sollicitudin elit
  in sollicitudin. Aenean molestie, ex sit amet sagittis porta, eros arcu
  sagittis nisi, nec sagittis magna arcu in odio. Nullam consequat vel dolor ut
  ultricies.
</p>
{{outlet}}